/* Mobile view */
body {
    background-color: #D3D3D3;
}

#skip {
    text-align: right;
    margin-right: 5px;
    font-size: 15px;
}

#logo {
    text-align: center; 
    font-size: 40px;
}
#logo:before {
    content: 'Sub';
    color: #00274C;
}
#logo:after {
    content: 'Swap';
    color: #FFCB05;
}

nav {
    padding: 20px;
    padding: 20px;
}
nav ul {
    text-align: center;
}
nav ul li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #00274C;
    border: 3px solid #00274C;
    padding: 3px;
}
#active a{
    color: blue;
    border: 3px solid blue;
}

