/* Mobile view */
body {
    background-color: #D3D3D3;
}

#skip {
    text-align: right;
    margin-right: 5px;
    font-size: 15px;
}

#logo {
    text-align: center; 
    font-size: 40px;
}
#logo:before {
    content: 'Sub';
    color: #00274C;
}
#logo:after {
    content: 'Swap';
    color: #FFCB05;
}

nav {
    text-align: center;
    margin: 20px;
}
nav ul li{
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #00274C;
    border: 3px solid #00274C;
    padding: 3px;
    background-color: #FFCB05;
}
#active a{
    background-color: white;
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration: underline;
}

/* Grid styling for main */
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0 10px 0;
}
.about {
    grid-row-start: 1;
    border: 2px solid #00274C;
}
.contact {
    grid-row-start: 2;
    border: 2px solid #00274C;
    border-top: none;
}
#about-image {
    grid-column: 1 / span 2;
    overflow: hidden;
}
#about-text {
    grid-column: 3 / span 2;
    border-left: none;
}
.about h1{
    text-align: center;
    font-size: 35px;
}
.about p{
    text-align: center;
    font-size: 17.5px;
}
.contact {
    grid-column: 2 / span 2;
}
.contact h1 {
    text-align: center;
    font-size: 35px;
}
.contact p {
    text-align: center;
    font-size: 17.5px;
}
